body{
    background-image: url(assets/bg.jpg);
    background-size: cover;
}


main{
    margin: 48px auto;
    width: 800px;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #F0E8C2;
}


img{
    border-radius: 16px;
}